html,
body,
#root {
  height: 100%;
  background-color: #121212;
  /* dark gray */
  color: #ffffff;
  /* default text color for contrast */
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

a#learn-more {
  display: block;
  position: relative;
  top: -550px;
  visibility: hidden;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
    /* disables smooth scrolling */
  }
}